<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heartratedect">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".myApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="心率检测"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.TuCaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".Activity.ResultActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>